<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583448225200-grqvj3e0vq4o6jrhr9e0fp5iahuctd1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583448225200-grqvj3e0vq4o6jrhr9e0fp5iahuctd1q</string>
	<key>API_KEY</key>
	<string>AIzaSyCO_rXX5KPzk54leNAYRn3cAYiDLjvkqnk</string>
	<key>GCM_SENDER_ID</key>
	<string>583448225200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.africShopApp</string>
	<key>PROJECT_ID</key>
	<string>afric-shop-yonas</string>
	<key>STORAGE_BUCKET</key>
	<string>afric-shop-yonas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583448225200:ios:d8546558df6453c346e275</string>
</dict>
</plist>